DATABASE_URI=mongodb://localhost:27017/fit-swim-app
PAYLOAD_SECRET=your-payload-secret
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET=your-r2-bucket
R2_ENDPOINT=your-r2-endpoint